doctype html
html
  head
    title Pizza club
    block scripts
    block style
    //- This line is used for functioning of media queries
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

  body
    nav.navbar.hnavresp
      div#logo
          img(src="/static/img/logo.png")
      ul.vclassresp.navlist
        li #[a(href="/") Home]
        li #[a(href="/about") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us]
      div.burger
        div.line
        div.line
        div.line   


    block content
    div.mediaquery
      footer#footer
          | Copyright © 2022 PizzaHut.com | All rights reserved  